
body{
    background: linear-gradient( 90deg, #311b1b, rgb(179, 85, 85))
}

.container{
    margin: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family:sans-serif;
    text-align: center;
    color: #fff;
}

.rounded{
    border-radius: 100px;
    padding: 1px;
    border: 10px solid;
    background: white;
}