:root {
    --whitesmoke: whitesmoke;
}

body {
    margin: 0;
}

.hero {
    background-color: whitesmoke;
    height: 500px;
    padding: 10px;
}

.hero__tittle {
    text-align: center;
}

.hero__tittle: hover {
    color: red;
}

.hero__tittle--hidden {
    display: none;
}