@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root {
    --whitesmoke: whitesmoke;
}

body {
    font-family: Roboto;
    margin: 0;
}
  
* {
    box-sizing: border-box;
}

.navigation {
    background-color: white;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.navigation__container {
    display: flex;
    height: 100%;
}

.navigation__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    width: 100px;
}

.navigation__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1em 0 0;
}

.navigation__link:hover {
    color: red;
  }

.hero {
    background: url("https://blog.go-work.com/wp-content/uploads/2020/02/coworking-space-near-me.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    padding: 10px;
}
.hero__title {
    color:white;
    font-size: 7rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .hero__description {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .hero__title--hidden {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navigation__link {
      display: none;
    }
  }